source ~/.vim/vimrc

set clipboard+=ideaput

set ignorecase " ignorecase in search
set number
set relativenumber

""""""""""""""""""""""""""
""" Plugins
""""""""""""""""""""""""""

Plug 'preservim/nerdtree'


""""""""""""""""""""""""""
""" Keymappings
""""""""""""""""""""""""""

:map <leader>b <Action>(BuildSolutionAction)
:map <leader>e <Action>(ShowErrorDescription) "show error on current position
:map <leader>pd <Action>(QuickImplementations) "peak definition
